# ignore all files
*
# make exceptions for following files
!.gitignore
!.vimrc
!.bashrc
!.bash_aliases
!.bash_profile
!.customgitconfig
!README.md
!.inputrc
!.dataminr_aliases.sh
!.git_aliases.sh
!.docker_aliases.sh
!.ideavimrc
# This doesn't work for some reason so I force added the file
!.vim/undodir/.gitignore
!.zshrc
!.zsh_aliases
!.p10k.zsh
!.install_dot_files.sh
!.fzfgitfunctions.zsh
